<form class="create-colleague-forms" (ngSubmit)="submit()" #createForm="ngForm" appFirstLastValidator>
  <div class="create-colleague-forms__inputContainer">
    <label>Pseudo</label>
    <input name="pseudo" [(ngModel)]="monModel.pseudo" #pseudo="ngModel" required>
  </div>
  <p *ngIf="pseudo.dirty && pseudo.invalid">
    Le champ est requis
  </p>
  <div class="create-colleague-forms__inputContainer">
    <label>Nom</label>
    <input name="last" [(ngModel)]="monModel.last" #last="ngModel" minlength="2" required>
  </div>
  <p *ngIf="last.dirty && last.errors">
    Le champ est requis et necessite 2 charactères minimum
  </p>
  <div class="create-colleague-forms__inputContainer">
    <label>Prenom</label>
    <input name="first" [(ngModel)]="monModel.first" #first="ngModel" minlength="2" required>
  </div>
  <p *ngIf="first.dirty && first.invalid">
    Le champ est requis et necessite 2 charactères minimum
  </p>
  <div class="create-colleague-forms__inputContainer">
    <label>Photo URL</label>
    <input name="photo" [(ngModel)]="monModel.photo" #photo="ngModel" required>
  </div>
  <p *ngIf="photo.dirty && photo.invalid">
    Le champ est requis
  </p>
  <button type="submit" *ngIf="createForm.dirty && createForm.valid">Ajouter</button>
</form>
