.create-colleague-forms {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 50%;
  height: 500px;
  padding: 20px 50px;
  margin: 50px auto;
  color: blue;
  background-color: white;
  border: 3px solid blue;
  border-radius: 20px;

  button {
    border: 1px solid;
    font-weight: bolder;

    &:hover {
      background-color: blue;
      color: white;
    }
  }
}

.create-colleague-forms__inputContainer {
  display: flex;
  justify-content: space-between;
}

input {
  border: 1px solid blue;
}
