<nav class="menu">
  <a class="menu__link--secondary" href="#colleague-list">MES COLLEAGUES</a>
  <ul class="menu__list">
    <li class="menu__item">
      <a class="menu__link" (click)="handleLinkClick('welcomePage')" [class.menu__link--focused]="welcomePage" routerLink="/welcomePage">Accueil</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" (click)="handleLinkClick('template')" [class.menu__link--focused]="template" routerLink="/template">Formulaire piloté par le template</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" (click)="handleLinkClick('reactive')" [class.menu__link--focused]="reactive" routerLink="/reactive">Formulaire reactive</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" (click)="handleLinkClick('login')" [class.menu__link--focused]="login" routerLink="/login">Login</a>
    </li>
  </ul>
</nav>
<div class="menu__logged">
  <p>Yo, {{userLogged?.first}} {{userLogged?.last}} !</p>
  <button class="menu__logged-button" (click)="deconnexion()">Déconnexion</button>
</div>
