<h2 class="voting-history">Historique</h2>
<ul class="voting-history__list">
  <li class="voting-history__item" *ngFor="let vote of voteList; let index = index">
    <img src="{{ vote.colleague.photo }}" alt="">
    <div class="voting-history__item-content">
      <strong class="voting-history__item-title">{{ vote.colleague.pseudo | uppercase}}</strong>
      <p>{{ vote.colleague.pseudo }} est <span *ngIf="vote.colleague.score > 0">cool</span><span *ngIf="vote.colleague.score <= 0">pas cool</span>, elle a désormais un score de {{ vote.colleague.score }}</p>
      <button (click)="handleRemoveClick(index)">Supprimer</button>
    </div>
  </li>
</ul>
